# Node
node_modules/
**/node_modules/
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# If www is your deploy root, DO NOT ignore 'www/' itself
www/node_modules/
www/dist/
www/build/

# Env
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Capacitor / native
android/
ios/
